.faq {
  display: flex;
 
  
  &__title {
      grid-template-rows: repeat(auto-fit 1fr);
      font-family: 'Montserrat', sans-serif;
      padding: 25px;
      justify-content: center;
      align-items: center;
      text-align: center;
     
 
      
  }

}
.button{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: white;
}